@import "@/assets/scss/base/_variables.scss";
.aboutMe {
    .header {
        .title {
            text-transform: uppercase;
            font-size: 3.5rem;
            font-weight: 500;
        }
        .subTitle {
            background: $white;
        }
    }
    .dot {
        svg {
            height: 0.4rem;
            vertical-align: middle;
        }
    }

    .progress {
        height: 1.5rem;
        background-color: lighten($light-grey, 15%);
        // padding: 0 0.5rem;

        .progress-bar {
            &-striped {
                background-color: lighten($dark-grey, 25%)!important;
            }
        }
    }
    
    .tags {
        font-size: .75rem;
        span {
            height: 1.5rem;
            border-radius: .25rem;
            background-color: lighten($light-grey, 15%);
        }
    }
    .description {
        font-size: $font4*4;
    }
}